/*colordeltitulo*/
.header_titulo  {
    color:black;
    
}


/*color de los subtitulos*/
.color_subtitulos {
    color:#cb997e;
    background-color: #f0efeb;
}

/*color de los subtitulos de la seccion recetas*/ 
.color_subtitulosrecetas {
    color:#cb997e;
}

/*fondonavbar*/
.navbar-color{
    background-color:#f0efeb;
    width: 100%;
}

/*color letra de los parrafos */
.parrafo_color {
    color:#565656;
}

/*colores del banner informativo */
.bannerinf_columnas {
    background-color: #ffd7ba;
    color:  #565656;
}

/* color de fondo de aside */
aside {
    background-color:#f0efeb;

}

/* estilo color pie de pagina */
.footer {
        ul {
            list-style: none;
            li {
                color: #cb997e;
            }
        }
}



/* background color del flexbox */ 
.padreFlex {
    background-color: #f8edeb;
}

/*color parrafo recetas pag principal */ 
.card p {
    color: black;
}

/*background color del navbardrop */ 
.dropdown-menu {
    background-color:#f0efeb; ;
}
